@font-face {
  font-family: 'GilroyBold';
  src: url("../fonts/Gilroy/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"), url("../fonts/GothamPro/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamPro/GothamProBold/GothamProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProBold/GothamProBold.woff") format("woff"), url("../fonts/GothamPro/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProMedium";
  src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"), url("../fonts/GothamPro/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProBlack";
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamPro/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProBlack/GothamProBlack.woff") format("woff"), url("../fonts/GothamPro/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GothamProLight";
  src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamPro/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamPro/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "GothamProMedium", sans-serif;
  font-weight: normal;
}

button:focus, input:focus {
  outline: none;
}

body {
  background-color: #030101;
}

.container {
  background: url("../img/main/bg.jpg");
  background-size: cover;
  position: relative;
}

.container_no-bg {
  background: none;
}

.container__fixed {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 1441px) {
  .container__fixed {
    max-width: 1360px;
  }
}

@media screen and (min-width: 1601px) {
  .container__fixed {
    max-width: 1535px;
  }
}

@media screen and (max-width: 1279px) {
  .container__fixed {
    max-width: 728px;
  }
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.container__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;
  margin-top: 52px;
  line-height: 50px;
}

@media screen and (max-width: 1279px) {
  .container__heading {
    font-size: 36px;
  }
}

.container__title {
  font-family: "GothamProBlack", sans-serif;
  font-size: 36px;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  line-height: 34px;
  margin-top: 45px;
}

.container__location {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
  text-align: left;
  line-height: 20px;
  cursor: pointer;
}

.container__back {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
  line-height: 20px;
  margin-top: 22px;
  cursor: pointer;
}

.container__back:before {
  content: url("../img/main/back.svg");
  display: inline-block;
  height: 15px;
  margin-right: 16px;
  vertical-align: sub;
}

.container__back .container__back-text {
  display: inline-block;
}

.container__img {
  width: 100%;
}

.button {
  display: block;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='215' height='34' viewBox='0 0 215 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='213' height='32' rx='16' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1.64541' y1='17' x2='229.236' y2='21.0341' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E5E5E5'/%3E%3Cstop offset='1' stop-color='%23E5E5E5' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-color: transparent;
  border: none;
  height: 34px;
  width: 215px;
  text-align: center;
  line-height: 34px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #ED6C0C;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button:hover {
  background: #ED6C0C;
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
}

.button_long {
  background-image: url("data:image/svg+xml,%3Csvg width='262' height='34' viewBox='0 0 262 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='260' height='32' rx='16' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='2.0051' y1='17' x2='279.306' y2='22.9897' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E5E5E5'/%3E%3Cstop offset='1' stop-color='%23E5E5E5' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-color: transparent;
  width: 262px;
}

.button_long:hover {
  width: 262px;
}

.button-org {
  display: block;
  background-color: #ED6C0C;
  border: none;
  height: 35px;
  width: 185px;
  text-align: center;
  line-height: 35px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button-org:hover {
  background: #CD070F;
}

.input-field {
  display: block;
  height: 55px;
  width: 367px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 18px 24px;
  background-color: transparent;
  border: 1px solid #C1BBBB;
  outline: none;
  font-family: "GothamProRegular", sans-serif;
  font-size: 19px;
  color: #fff;
}

.input-field:focus {
  border: 1px solid #ED6C0C;
}

.input-field_area {
  height: 127px;
  resize: none;
}

.link {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link div {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link svg {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.link:hover {
  color: #ED6C0C;
}

.link:hover div {
  color: #ED6C0C;
}

.link:hover svg {
  fill: #ED6C0C;
}

.link:hover svg path {
  fill: #ED6C0C;
}

.radio-wrap {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 12px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-wrap .radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-wrap .radio:checked ~ .radio-label::after {
  display: block;
}

.radio-wrap .radio-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #DCE5E5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.radio-wrap .radio-label::after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ED6C0C;
}

.check-wrap {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-right: 20px;
  margin-bottom: 12px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-wrap .check {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check-wrap .check:checked ~ .check-label::after {
  display: block;
}

.check-wrap .check-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.check-wrap .check-label::after {
  content: url("../img/checkout/check.svg");
  position: absolute;
  fill: #ED6C0C;
  display: none;
  top: -2px;
  left: 3px;
  width: 20px;
  height: 15px;
}

.select-wrap {
  position: relative;
  cursor: pointer;
}

.select-wrap svg {
  position: absolute;
  top: 13px;
  right: 9px;
}

.select {
  height: 34px;
  width: 124px;
  padding: 9px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  background-color: #646161;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  background-color: transparent;
}

.menu-button span {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu-button:hover span {
  background-color: #ED6C0C;
}

.menu-button__line {
  display: block;
  height: 3px;
  border-radius: 2px;
  width: 100%;
  background-color: #fff;
}

.header {
  padding: 25px 0;
  background-color: #030101;
}

@media screen and (max-width: 1279px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 109px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #030101;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.header__menu-item {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  line-height: 52px;
  padding: 0 9px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__menu-item:hover {
  color: #ED6C0C;
}

@media screen and (max-width: 1279px) {
  .header__menu-item {
    text-align: center;
  }
}

.header__menu-item:last-child {
  padding-right: 0;
}

.header__menu-item:first-child {
  padding-left: 0;
}

.header__menu-item_active {
  color: #ED6C0C;
}

.header__small-item {
  display: block;
  padding: 0 18px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__small-item:last-child {
  padding-right: 0;
}

.header__small-item:first-child {
  padding-left: 0;
}

.header__small-item:hover span {
  color: #ED6C0C;
}

.header__small-item:hover svg path {
  fill: #ED6C0C;
}

.header__small-item span {
  line-height: 52px;
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
}

.header__small-item svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1279px) {
  .header__small-item:first-child {
    display: none;
  }
  .header__small-item:last-child {
    display: none;
  }
}

.header__menu-button {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header__menu-button {
    display: block;
  }
  .header__menu-button div {
    margin-top: 16px;
  }
}

.header__arrow-after {
  display: inline-block;
  margin-left: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.small-item__img {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
}

.small-item__cage {
  position: relative;
}

.small-item__cage::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #E68336;
  position: absolute;
  top: 20px;
  right: 12px;
  z-index: 1;
}

.header-drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.header-drop .header-drop__col-list {
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-drop:hover .header-drop__col-list {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  visibility: visible;
}

.header-drop:hover .header-drop__col-item-text {
  color: #fff;
}

.header-drop:hover .header-drop__col-item-text:hover {
  color: #ED6C0C;
}

.header-drop__text {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 55px;
  margin-left: 10px;
}

.header-drop__arrow {
  height: 57px;
  margin-left: 11px;
}

.header-drop__col-list {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 40px;
  left: -17px;
  width: 167px;
  background-color: transparent;
  padding: 7px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-drop__col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header-drop__col-item:hover {
  background: transparent;
}

.header-drop__col-item-img {
  height: 40px;
  line-height: 40px;
}

.header-drop__col-item-text {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 44px;
  margin-left: 10px;
}

.header-drop_lang .header-drop__col-list {
  width: 80px;
  left: 18px;
}

.header-drop_lang .header-drop__col-item {
  padding: 0 10px;
}

.header-drop_lang .header-drop__col-item-text {
  margin-left: 0;
}

.footer {
  height: 251px;
  background: #030101;
  border-top: 1px solid #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer__foot-content {
  margin-top: 45px;
}

.foot-content {
  height: 89px;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.foot-content__logo {
  display: block;
  height: 56px;
}

.foot-content__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.foot-content__item {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
  text-transform: uppercase;
  line-height: 13px;
}

@media screen and (max-width: 1279px) {
  .foot-content__item {
    font-size: 12px;
    line-height: 11px;
  }
}

.foot-content__item_no-upper {
  text-transform: none;
}

.foot-content__img {
  margin-right: 10px;
  vertical-align: baseline;
}

.footer__basement {
  margin-top: 50px;
}

.basement__payments {
  width: 208px;
}

.basement__item {
  line-height: 25px;
}

.basement__rights {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #E5E5E5;
  line-height: 20px;
}

@media screen and (max-width: 1279px) {
  .basement__rights {
    font-size: 12px;
    line-height: 11px;
  }
}

.basement__by {
  width: 208px;
  text-align: right;
}

.container__side-nav {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.side-nav {
  width: 195px;
}

.side-nav__item {
  margin-top: 19px;
}

.side-nav__item:first-child {
  margin-top: 0;
}

.side-nav__item .side-nav__item-line {
  cursor: pointer;
}

.side-nav__item .side-nav__item-line .side-nav__item-img {
  width: 30px;
  height: 21px;
  display: block;
}

.side-nav__item .side-nav__item-line .side-nav__item-name {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.side-nav__item .side-nav__item-line .side-nav___arrow {
  height: 20px;
}

.side-nav__item .side-nav__sub-items {
  display: none;
}

.side-nav__item_active .side-nav__item-line .side-nav__item-img path {
  fill: #ED6C0C;
}

.side-nav__item_active .side-nav__item-line .side-nav__item-name {
  color: #ED6C0C;
}

.side-nav__item_active .side-nav__item-line .side-nav___arrow path {
  fill: #ED6C0C;
}

.side-nav__item_active .side-nav__sub-items {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.side-nav__item_active .side-nav__sub-items .side-nav__sub-item {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 13px;
  margin-top: 15px;
}

.side-nav__item_active .side-nav__sub-items .side-nav__sub-item:first-child {
  margin-top: 0;
}

.container__main-slider {
  background-color: #030101;
}

.main-slider {
  background-image: url("../../img/main-page/main-slider/bg.svg");
  background-repeat: no-repeat;
  background-position: 133% -66px;
  min-height: 676px;
  padding: 0.01%;
  position: relative;
}

@media screen and (min-width: 1441px) {
  .main-slider {
    background-position: right -66px;
  }
}

@media screen and (max-width: 1279px) {
  .main-slider {
    background-position: 266px -66px;
  }
}

.main-slider__main-heading {
  margin-top: 153px;
}

.main-heading {
  width: 655px;
  height: 225px;
  text-align: left;
  line-height: 79px;
}

.main-heading__first {
  font-family: "GilroyBold", sans-serif;
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 1279px) {
  .main-heading__first {
    font-size: 64px;
  }
}

.main-heading__second {
  font-family: "GilroyBold", sans-serif;
  font-size: 72px;
  color: #fff;
  background: -webkit-linear-gradient(#ED6C0C 0%, #D81212 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1279px) {
  .main-heading__second {
    font-size: 64px;
  }
}

.main-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 400px;
  position: relative;
}

.dots__wrapper {
  margin-top: 138px;
}

.main-slider__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20px;
}

.main-slider__socials-item {
  display: block;
  margin-bottom: 22px;
}

.main-slider__socials-item:hover svg path {
  fill: #ED6C0C;
}

.main-slider__button {
  position: absolute;
  top: 125px;
  left: 97px;
}

.main-slider__dots {
  width: 64px;
  margin-top: 17px;
}

.main-slider__dot {
  width: 8px;
  height: 8px;
  background: #ED6C0C;
  border-radius: 50%;
}

.main-slider__dot_active {
  background: #fff;
}

.main-slider__coals {
  position: absolute;
  bottom: -94px;
  right: 295px;
}

.cool__statistics {
  margin-top: 42px;
}

@media screen and (max-width: 1279px) {
  .cool__statistics {
    margin-top: 25px;
  }
}

.statistics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.statistics__item:last-child {
  width: 135px;
}

.statistics__value {
  font-family: "GothamProMedium", sans-serif;
  font-size: 96px;
  color: #fff;
  background: -webkit-linear-gradient(#ED6C0C 0%, #D81212 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100px;
  height: 100px;
}

@media screen and (max-width: 1279px) {
  .statistics__value {
    font-size: 50px;
    line-height: 60px;
    height: 60px;
  }
}

.statistics__value_small {
  font-family: "GothamProMedium", sans-serif;
  font-size: 66px;
  color: #fff;
  background: -webkit-linear-gradient(#ED6C0C 0%, #D81212 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 1279px) {
  .statistics__value_small {
    font-size: 37px;
  }
}

.statistics__description {
  font-family: "GothamProMedium", sans-serif;
  font-size: 18px;
  color: #fff;
  width: 174px;
}

@media screen and (max-width: 1279px) {
  .statistics__description {
    font-size: 18px;
    line-height: 20px;
    width: 137px;
  }
}

.cool__snake {
  background-image: url("../../img/main-page/cool/bg.png");
  background-repeat: no-repeat;
  background-position: 65% 23%;
}

@media screen and (max-width: 1279px) {
  .cool__snake {
    background-size: 125%;
  }
}

.snake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 1811px;
  padding: 192px 14px 127px 238px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .snake {
    padding: 192px 0 127px 63px;
  }
}

.snake__article {
  width: 456px;
}

.snake__article:nth-child(2n+1) {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

@media screen and (max-width: 1279px) {
  .snake__article {
    width: 349px;
  }
}

.snake__heading {
  font-family: "GothamProRegular", sans-serif;
  font-size: 30px;
  color: #fff;
  width: 415px;
}

@media screen and (max-width: 1279px) {
  .snake__heading {
    font-size: 24px;
    line-height: 30px;
  }
}

.snake__description {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  margin-top: 30px;
  line-height: 23px;
  width: 355px;
}

.for-watch {
  position: relative;
}

.for-watch__img {
  width: 100%;
}

.for-watch__heading-wrap {
  position: absolute;
  top: 24%;
  left: 0;
  width: 100%;
}

.for-watch__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;
  width: 502px;
  margin: 0 auto;
  line-height: 50px;
}

@media screen and (max-width: 1279px) {
  .for-watch__heading {
    font-size: 36px;
  }
}

.for-watch__play {
  position: absolute;
  top: 42%;
  left: 0;
  width: 100%;
}

.for-watch__play img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.cool-all__action-block {
  margin-top: 53px;
}

.action-block {
  width: 265px;
  height: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .action-block {
    width: 160px;
    height: 269px;
  }
}

.action-block__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 24px;
  color: #E5E5E5;
  text-align: center;
  line-height: 40px;
}

@media screen and (max-width: 1279px) {
  .action-block__heading {
    font-size: 18px;
    line-height: 24px;
  }
}

.action-block__description {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  text-align: center;
  margin-top: 15px;
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
  line-height: 24px;
}

.action-block__description img {
  margin-top: 9px;
}

@media screen and (max-width: 1279px) {
  .action-block__description {
    font-size: 14px;
    line-height: 20px;
  }
  .action-block__description img {
    display: none;
  }
}

.action-block__button {
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .action-block__button {
    width: 160px;
    height: 34px;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='160' height='34' viewBox='0 0 160 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='158' height='32' rx='16' stroke='url(%23paint0_linear)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='1.22449' y1='17' x2='170.618' y2='19.2344' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E5E5E5'/%3E%3Cstop offset='1' stop-color='%23E5E5E5' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

.hits {
  min-height: 564px;
}

.hits__product-slider {
  margin: 62px auto 0;
}

@media screen and (max-width: 1279px) {
  .product-slider > img {
    display: none;
  }
  .product-slider > div:nth-child(2), .product-slider > div:nth-child(3) {
    display: none;
  }
}

.card-trans {
  width: 215px;
  height: 381px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-trans__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 18px;
  color: #E5E5E5;
  text-align: center;
  text-transform: uppercase;
  line-height: 17px;
}

.card-trans__img {
  width: 188px;
  display: block;
  margin: 33px auto 0;
}

.card-trans__price-weight {
  margin-top: 17px;
  padding: 0 10px;
}

.card-trans__weight {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: rgba(229, 229, 229, 0.75);
}

.card-trans__price-qnt {
  margin-top: 26px;
  padding: 0 10px;
}

.card-trans__quantity {
  width: 86px;
}

.card-trans__plus {
  cursor: pointer;
}

.card-trans__plus:hover path {
  fill: #ED6C0C;
}

.card-trans__price {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #E5E5E5;
  line-height: 22px;
}

.card-trans__button {
  margin: 28px auto 0;
}

.product-slider__arrow {
  cursor: pointer;
}

.catering {
  min-height: 816px;
}

.catering__advantage {
  margin-top: 69px;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantage__heading {
  display: block;
  font-family: "GothamProBold", sans-serif;
  font-size: 36px;
  color: #fff;
  width: 360px;
  margin-top: 5px;
  line-height: 50px;
}

@media screen and (max-width: 1279px) {
  .advantage__heading {
    font-size: 24px;
    line-height: 30px;
    width: 285px;
  }
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 140px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.advantage__item {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  list-style-type: disc;
  width: 263px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 20px;
}

@media screen and (max-width: 1279px) {
  .advantage__item {
    font-size: 14px;
    line-height: 20px;
  }
}

.catering__button {
  text-align: right;
  margin-top: 33px;
}

.command__img {
  margin-top: 45px;
}

.command__description {
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  text-align: justify;
  margin-top: 60px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

@media screen and (max-width: 1279px) {
  .command__description {
    font-size: 14px;
    line-height: 20px;
  }
}

.restaurant__img {
  margin-top: 40px;
}

.complex__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 36px;
  color: #fff;
  line-height: 50px;
  width: 360px;
  margin-top: 69px;
}

@media screen and (max-width: 1279px) {
  .complex__heading {
    font-size: 24px;
    line-height: 30px;
  }
}

.complex__text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  text-align: justify;
  margin-top: 60px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  width: 65%;
}

@media screen and (max-width: 1279px) {
  .complex__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.clients {
  height: 227px;
}

.clients__wrap {
  margin-top: 70px;
}

.clients__slider {
  width: 80%;
}

.clients__arrow {
  cursor: pointer;
}

.clients__item {
  cursor: pointer;
}

.contacts {
  min-height: 613px;
}

.cont-info {
  width: 100%;
}

.cont-info__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 150px;
  margin-top: 35px;
  max-width: 553px;
}

@media screen and (min-width: 1441px) {
  .cont-info__table {
    max-width: 700px;
  }
}

.cont-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 260px;
}

.cont-info__item:nth-child(3n+1) {
  margin-top: 0;
}

.cont-info__name {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  max-width: 141px;
}

.cont-info__value {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  max-width: 163px;
}

.cont-info__button {
  margin-top: 45px;
}

.cont-info__soc-head {
  margin-top: 45px;
}

.cont-info__socials {
  margin-top: 27px;
  max-width: 103px;
}

.contacts__map {
  margin-right: -65px;
}

@media screen and (min-width: 1441px) {
  .contacts__map {
    margin-right: -30px;
  }
}

.map {
  width: 625px;
  height: 568px;
}

@media screen and (min-width: 1441px) {
  .map {
    width: 100%;
  }
}

.container__feedback {
  margin: 50px auto;
}

.feedback {
  width: 485px;
  height: 514px;
  background: #030101;
  padding: 30px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.feedback__cross {
  display: block;
  margin-left: auto;
  cursor: pointer;
}

.feedback__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #ED6C0C;
  text-align: center;
  line-height: 29px;
  margin-top: 7px;
}

.feedback__subheading {
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 19px;
}

.feedback__field {
  margin: 12px auto 0;
}

.feedback__contact {
  margin: 20px auto;
}

.del-info {
  background-image: url("../../img/delivery/info_bg.svg");
  background-repeat: no-repeat;
  background-position: 100% -22px;
}

@media screen and (min-width: 1441px) {
  .del-info {
    background-position: 80% -22px;
  }
}

.del-info__text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-top: 15px;
}

.del-info__text_2 {
  margin-top: 35px;
}

.del-info__text_bold {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #fff;
}

.del-info__button {
  margin-top: 35px;
}

.delivery__yourself {
  margin-top: 39px;
}

.yourself {
  height: 300px;
  background: url("../../img/delivery/yourself_bg.jpg") no-repeat top center;
  background-size: cover;
  padding: 0.01%;
}

.yourself__heading {
  text-align: center;
  margin: 53px auto 0;
  width: 458px;
}

.yourself__text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 24px;
  color: #fff;
  text-align: center;
  width: 674px;
  margin: 30px auto 0;
  line-height: 35px;
}

.yourself__text_red {
  font-family: "GothamProMedium", sans-serif;
  font-size: 35px;
  color: #E34035;
}

.zone {
  background: #030101;
  padding: 0.01%;
}

.zone__heading {
  margin-top: 50px;
  text-align: center;
}

.zone__z-map {
  margin-top: 36px;
}

.z-map__img {
  width: 100%;
}

.z-map__description {
  margin-top: 50px;
  margin-bottom: 60px;
}

.z-map__item {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
}

.z-map__item::before {
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}

.z-map__item:nth-child(1)::before {
  background: #4A5DC3;
}

.z-map__item:nth-child(2)::before {
  background: #E68336;
}

.z-map__item:nth-child(3)::before {
  background: #5FB709;
}

.z-map__item:nth-child(4)::before {
  background: #E34035;
}

.delivery__payment {
  margin-top: 60px;
}

.payment {
  height: 327px;
}

.payment__heading {
  text-align: center;
  margin-top: 60px;
}

.payment__ways {
  margin: 60px auto 0;
  width: 580px;
}

.payment__way {
  width: 255px;
}

.payment__w-img {
  display: block;
  margin: 0 auto;
}

.payment__w-text {
  margin-top: 25px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}

.menu__delivery svg {
  margin-top: -10px;
  margin-left: 12px;
}

.menu__delivery-text {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
}

.menu__body {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 951px;
}

.menu__products {
  padding: 0 0 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}

.products__card {
  margin: 0 15px 20px 0;
}

.card {
  width: 225px;
  height: 440px;
  background: linear-gradient(135deg, #E68336 0%, rgba(230, 131, 54, 0) 100%);
  padding: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card__inner {
  background: #030101;
  padding: 35px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.card__fixed {
  max-width: 185px;
  margin: 0 auto;
}

.card__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
  text-align: center;
}

.card__img {
  display: block;
}

.card__weight {
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
}

.card__price-qnt {
  height: 43px;
  border-bottom: 1px solid #fff;
  margin-top: 10px;
}

.card__quantity {
  width: 104px;
  height: 34px;
  background: #646161;
}

.card__plus {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.card__qnt-value {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
}

.card__price {
  font-family: "GothamProBold", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 35px;
}

.card__footer {
  margin-top: 14px;
}

.card__min-weight {
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 16px;
  width: 123px;
}

.card__persons-img {
  margin: 0 auto;
  display: block;
}

.card__persons-value {
  font-family: "GothamProRegular", sans-serif;
  font-size: 12px;
  color: #fff;
}

.card__button {
  margin: 15px auto 0;
}

.container__product {
  margin-top: 25px;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product__img {
  width: 555px;
}

.product__info {
  width: 457px;
  padding: 37px 0 0;
}

@media screen and (min-width: 1441px) {
  .product__info {
    width: 50%;
  }
}

.product__heading {
  font-family: "GothamProBlack", sans-serif;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  line-height: 34px;
}

.product__text {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  line-height: 20px;
  height: 67px;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px;
}

.product__price-weight {
  margin-top: 25px;
}

.product__weight {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}

.product__min-weight {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
}

.product__price-qnt {
  margin-top: 25px;
  height: 59px;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product__quantity {
  width: 104px;
  height: 34px;
  background: #646161;
}

.product__plus {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.product__qnt-value {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
}

.product__price {
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 35px;
}

.product__comment {
  margin-top: 35px;
  height: 65px;
  border-bottom: 1px solid #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product__cmt-heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
}

.product__cmt-input {
  width: 100%;
  height: 20px;
  border: none;
  font-family: "GothamProLight", sans-serif;
  font-size: 12px;
  color: #E5E5E5;
  line-height: 20px;
  background-color: transparent;
  margin-top: 15px;
}

.product__cmt-input:focus {
  outline: none;
}

.product__button {
  margin-top: 45px;
}

.container__recommended {
  margin-top: 61px;
  margin-bottom: 61px;
}

.recommended__arrow {
  cursor: pointer;
}

.recommended__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 36px;
  color: #fff;
  line-height: 34px;
}

.recommended__slider {
  margin-top: 45px;
}

.recommended__products {
  width: 100%;
  padding: 0 33px;
}

.container__cart {
  margin-top: 21px;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}

.cart__prd-list {
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.prd-list {
  width: 848px;
  min-height: 390px;
  border-collapse: collapse;
  border-spacing: 0 50px;
}

.prd-list__head {
  height: 80px;
  border: 1px solid #E68336;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 65px 0 220px;
}

.prd-list__head-item {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  line-height: 80px;
}

.prd-list__head-item:nth-child(2) {
  width: 100px;
}

.prd-list__body {
  padding: 80px 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #E68336;
}

.prd-list__row {
  height: 150px;
}

.prd-list__column {
  padding: 0;
}

.prd-list__col-name {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  line-height: 150px;
}

.prd-list__col-quantity {
  height: 34px;
  width: 104px;
  background-color: #646161;
  margin-top: 58px;
}

.prd-list__plus {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.prd-list__qnt-value {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 34px;
}

.prd-list__price {
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 150px;
}

.prd-list__cross {
  width: 17px;
  height: 17px;
  margin-top: 67px;
}

.cart__cart-checkout {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 30px;
}

.cart-checkout__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 20px;
  color: #fff;
  line-height: 20px;
}

.cart-checkout__sub-heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  margin-top: 25px;
}

.cart-checkout__radio {
  margin-top: 18px;
}

.cart-checkout__delivery {
  max-width: 482px;
  height: 196px;
  border: 1px solid #E34035;
  padding: 41px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 25px;
}

.cart-checkout__delivery svg {
  margin-top: 19px;
  margin-right: 16px;
}

.cart-checkout__delivery-text {
  font-family: "GothamProMedium", sans-serif;
  font-size: 16px;
  color: #E34035;
  line-height: 20px;
  width: 220px;
}

.cart-checkout__footer {
  margin-top: 37px;
  border-top: 1px solid #fff;
  padding: 26px 0 0;
}

.cart-checkout__foot-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.cart-checkout__foot-item {
  margin-right: 15px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.cart-checkout__foot-value {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.cart-checkout__foot-item_bold {
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.cart-checkout__foot-value_bold {
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.cart-checkout__button {
  margin-top: 45px;
}

.checkout {
  min-height: 1000px;
}

.checkout__heading {
  font-family: "GothamProMedium", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 23px;
  margin-top: 30px;
}

.checkout__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 6px;
}

.checkout__input {
  margin-top: 20px;
  width: 48.5%;
}

.checkout__input:nth-child(1), .checkout__input:nth-child(2) {
  margin-top: 0;
}

.input-check {
  height: 62px;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.input-check .input-check__title {
  display: block;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #C4C4C4;
  line-height: 13px;
}

.input-check .input-check__input {
  width: 100%;
  font-family: "GothamProMedium", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 17px;
  background-color: transparent;
  border: none;
  height: 30px;
  margin-top: 4px;
}

.checkout__input_many {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 14px;
}

.checkout__input_many .checkout__input {
  margin-top: 0;
}

.checkout__input_many .input-check {
  width: 21%;
}

.checkout__heading_payment {
  margin-top: 45px;
}

.checkout__radio {
  margin-top: 17px;
}

.checkout__radio svg {
  margin-left: 16px;
  vertical-align: middle;
}

.checkout__change {
  margin-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__change-text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 25px;
}

.checkout__change-input {
  height: 30px;
  width: 115px;
  margin-left: 23px;
}

.checkout__change-input .input-check__input {
  margin: 0;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
  text-align: center;
  height: 30px;
}

.checkout__checkout-footer {
  margin-top: 40px;
  margin-bottom: 60px;
}

.checkout-footer {
  border-top: 1px solid #fff;
}

.checkout-footer__comment {
  margin-top: 38px;
}

.checkout-footer__comment-txt {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #C4C4C4;
  line-height: 13px;
}

.checkout-footer__comment-field {
  margin-top: 15px;
  height: 145px;
  width: 49%;
  padding: 20px;
  background-color: transparent;
  border: 1px solid #FFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  resize: none;
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
}

.checkout-footer__check {
  margin-top: 15px;
}

.checkout-footer__sum {
  margin-top: 34px;
  width: 276px;
}

.checkout-footer__sum-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 16px;
}

.checkout-footer__sum-text {
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.checkout-footer__sum-value {
  width: 40%;
  font-family: "GothamProBold", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
}

.checkout-footer__button {
  margin-top: 40px;
}

.container__thanks {
  margin-bottom: 102px;
}

.thanks__heading {
  font-family: "GothamProBlack", sans-serif;
  font-size: 36px;
  color: #fff;
  line-height: 34px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 45px;
}

.thanks__text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 15px;
  margin-top: 25px;
}

.thanks__text a {
  text-decoration: underline;
}

.thanks__button {
  margin-top: 45px;
}

.button-acc {
  height: 45px;
  padding: 0 46px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background: linear-gradient(101.34deg, #ED6C0C 14.34%, #E34035 97.38%);
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.button-acc:hover {
  -webkit-box-shadow: 0 0 10px #e5472e;
  box-shadow: 0 0 10px #e5472e;
}

.button-acc span {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
  display: block;
  margin-right: 5px;
}

.button-acc span:last-child {
  margin-right: 0;
}

.button-acc svg {
  height: 45px;
  display: block;
  margin-right: 12px;
}

.input-acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.input-acc__label {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 45px;
  text-align: right;
  width: 18%;
  margin-right: 15px;
}

.input-acc__input {
  width: 80%;
  height: 45px;
  background-color: transparent;
  border: 1px solid #E5E5E5;
  padding: 13px 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.input-acc__input:focus {
  border: 1px solid #ED6C0C;
}

.account__heading {
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 17px;
}

.account__sub-heading {
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 15px;
  margin-top: 25px;
}

.hat-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hat-col:hover .hat-col__col-list {
  display: block;
}

.hat-col__value {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  height: 50px;
}

.hat-col__text {
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  margin-left: 10px;
}

.hat-col__arrow {
  height: 50px;
  margin-left: 5px;
}

.hat-col__col-list {
  display: none;
  position: absolute;
  top: 40px;
  left: -20px;
  width: 167px;
  background-color: #2E2E2E;
  padding: 7px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hat-col__col-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  padding: 0 17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hat-col__col-item:hover {
  background: #191717;
}

.hat-col__col-item-img {
  height: 40px;
  line-height: 40px;
}

.hat-col__col-item-text {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 44px;
  margin-left: 10px;
}

.account__acc-footer {
  margin-top: 45px;
  margin-left: auto;
  margin-bottom: 100px;
  width: 80%;
}

.acc-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.acc-footer__back {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 45px;
  cursor: pointer;
}

.acc-footer__back:before {
  content: url(../../img/main/back.svg);
  display: inline-block;
  height: 45px;
  margin-right: 16px;
  vertical-align: sub;
}

.container__account-hat {
  background-color: rgba(46, 46, 46, 0.5);
}

.account-hat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
}

.account-hat__hat-first-col {
  width: 254px;
}

.account-hat__hat-second-col {
  width: 786px;
}

.hat-first-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hat-first-col__currency .hat-col__col-list {
  width: 167px;
}

.hat-first-col__language .hat-col__col-list {
  width: 167px;
}

.hat-second-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hat-second-col__phone .hat-col__col-list {
  width: 200px;
}

.hat-second-col__personal .hat-col__col-list {
  width: 200px;
}

.account-header {
  height: 106px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.account-header__first-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-header__location {
  line-height: 56px;
  margin-left: 28px;
}

.account-header__second-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.account-header__search {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 45px;
}

@media screen and (min-width: 1441px) {
  .account-header__search {
    width: 573px;
  }
}

.account-header__search-input {
  width: 100%;
  background: transparent;
  border: 1px solid #E5E5E5;
  padding: 13px 19px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: "GothamProMedium", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.account-header__search-btn {
  width: 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #E5E5E5;
  border: none;
  outline: none;
  cursor: pointer;
}

.container__account-nav {
  background-color: #2E2E2E;
}

.account-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.account-nav__item {
  font-family: "GothamProRegular", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 50px;
  padding: 0 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.account-nav__item:hover {
  background-color: #191717;
}

.container__account {
  margin-top: 45px;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 650px;
}

.account-body {
  width: 728px;
}

.acc-page .account__sub-heading {
  line-height: 30px;
}

.account-sidebar {
  width: 272px;
}

.account-sidebar__item {
  display: block;
  height: 55px;
  padding: 0 0 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 55px;
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #E5E5E5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.account-sidebar__item:hover {
  background-color: rgba(46, 46, 46, 0.5);
}

.account-sidebar__item_active {
  background-color: rgba(46, 46, 46, 0.5);
}

.account-main__item:first-child .account-main__heading {
  margin-top: 0;
}

.account-main__heading {
  margin-top: 45px;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 23px;
}

.account-main__list-item {
  font-family: "GothamProRegular", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 35px;
}

.account-main__list-item:first-child {
  margin-top: 15px;
}

.my-info__list {
  margin-top: 27px;
}

.container__login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.01%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login {
  width: 685px;
  height: 754px;
  margin: 150px auto;
  background-color: #030101;
  position: relative;
  padding: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.login__cross {
  position: absolute;
  top: 43px;
  right: 43px;
  cursor: pointer;
}

.login__logo {
  margin: 0 auto;
  display: block;
}

.login__heading {
  margin-top: 60px;
  font-family: "GothamProBold", sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.login__sub-heading {
  width: 281px;
  margin: 25px auto 0;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  text-align: center;
}

.login__sub-heading_ways {
  margin-top: 45px;
}

.login__input {
  width: 445px;
  margin: 45px auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.login__input label {
  text-align: left;
  width: 100%;
  margin-right: 0;
}

.login__input input {
  width: 100%;
}

.login__button {
  margin: 45px auto 0;
  padding: 0 65px;
}

.login__ways-list {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.login__way-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 25px;
}

.login__way-item:first-child {
  margin-left: 0;
}

.login__link {
  text-decoration: underline;
  font-family: "GothamProBold", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 25px;
  text-align: center;
  margin: 15px auto 0;
  display: block;
}

.account-body__orders {
  margin-top: 25px;
}

.orders {
  width: 100%;
  border-collapse: collapse;
}

.orders__head {
  background-color: rgba(46, 46, 46, 0.5);
}

.orders__head-column {
  text-align: center;
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 17px;
  vertical-align: middle;
}

.orders__row {
  height: 55px;
}

.orders__row:hover {
  background-color: rgba(46, 46, 46, 0.5);
  cursor: pointer;
}

.orders__column {
  text-align: center;
  font-family: "GothamProRegular", sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 17px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
