@import "varialble"
@import "function"

.container__footer

.footer
  height: 251px
  background: $bg-clr
  border-top: 1px solid #FFF
  box-sizing: border-box
  @include desktopSmall
    height: 187px

.footer__foot-content
  margin-top: 45px
  @include desktopSmall
    margin-top: 26px

.foot-content
  height: 89px
  padding-left: 40px
  box-sizing: border-box
  @include desktopSmall
    height: 85px
    padding-left: 0

.foot-content__logo
  display: block
  height: 56px
  img
    @include desktopSmall
      height: 44px

.foot-content__block
  display: flex
  flex-direction: column
  justify-content: space-between

.foot-content__item
  @include fontFSC($goth-m, 14px, $clr)
  text-transform: uppercase
  line-height: 13px
  @include desktopSmall
    font-size: 12px
    line-height: 11px

.foot-content__item_no-upper
  text-transform: none

.foot-content__img
  margin-right: 10px
  vertical-align: baseline

.footer__basement
  margin-top: 50px
  @include desktopSmall
    margin-top: 37px

.basement

.basement__payments
  width: 208px
  @include desktopSmall
    width: 140px

.basement__item
  line-height: 25px
  @include desktopSmall
    line-height: 20px
    &:nth-child(1)
      svg
        width: 20px
    &:nth-child(2)
      svg
        width: 20px
    &:nth-child(3)
      svg
        width: 35px
    &:nth-child(4)
      svg
        width: 35px

.basement__rights
  @include fontFSC($goth-r, 14px, $clr)
  line-height: 20px
  @include desktopSmall
    font-size: 12px
    line-height: 11px

.basement__by
  width: 208px
  text-align: right
  @include desktopSmall
    width: 40px