@import "font"

// $f-font-weight-style
$gill-b: "GilroyBold", sans-serif
$goth-r: "GothamProRegular", sans-serif
$goth-m: "GothamProMedium", sans-serif
$goth-b: "GothamProBold", sans-serif
$goth-bl: "GothamProBlack", sans-serif
$bg-clr: #030101
$clr: #E5E5E5
$orange: #ED6C0C