@import "font"

// $f-font-weight-style
$gill-b: "GilroyBold", sans-serif
$goth: "GothamProRegular", sans-serif
$goth-5: "GothamProMedium", sans-serif
$goth-b: "GothamProBold", sans-serif
$bg-clr: #030101
$clr: #fff
$clr: #E5E5E5
$orange: #ED6C0C