@import "varialble"
@import "function"


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  color: #fff
  font-size: 100%
  vertical-align: baseline
  list-style: none
  text-decoration: none
  font-family: $goth-m
  font-weight: normal

button, input
  &:focus
    outline: none

body
  background-color: $bg-clr

//................................Main Styles.......................................

.container
  background: url("../img/main/bg.jpg")
  background-size: cover

.container_no-bg
  background: none

.container__fixed
  max-width: 1140px
  margin: 0 auto

.layout
  display: flex
  justify-content: space-between

.container__heading
  @include fontFSC($goth-b, 48px)
  text-align: center
  margin-top: 52px
  line-height: 50px

.container__title
  @include fontFSC($goth-bl, 36px)
  text-align: left
  text-transform: uppercase
  line-height: 34px
  margin-top: 45px

.container__location
  @include fontFSC($goth-r, 14px, $clr)
  text-align: left
  line-height: 20px

.container__img
  width: 100%

.button
  display: block
  border-radius: 20px
  background: url("../img/main/btn_tr.svg") no-repeat center
  background-size: cover
  border: none
  height: 34px
  width: 215px
  text-align: center
  line-height: 34px
  @include fontFSC($goth-m, 16px, $orange)
  text-transform: uppercase
  box-sizing: border-box
  padding: 0
  cursor: pointer
  transition: all 200ms ease-in-out
  &:hover
    background: $orange
    @include fontFSC($goth-m, 16px)

.button_long
  background: url("../img/main/btn_tr_long.svg") no-repeat center
  width: 262px
  &:hover
    width: 262px

.button-org
  display: block
  background-color: $orange
  border: none
  height: 35px
  width: 185px
  text-align: center
  line-height: 35px
  @include fontFSC($goth-m, 14px)
  text-transform: uppercase
  box-sizing: border-box
  padding: 0
  cursor: pointer
  transition: all 200ms ease-in-out
  &:hover
    background: #CD070F

.input-field
  display: block
  height: 55px
  width: 367px
  box-sizing: border-box
  padding: 18px 24px
  background-color: transparent
  border: 1px solid #C1BBBB
  outline: none
  @include fontFSC($goth-r, 19px)
  &:focus
    border: 1px solid $orange
  &::placeholder
    //@include fontFSC($goth-r, 19px)

.input-field_area
  height: 127px
  resize: none

.link
  @include fontFSC($goth-m, 14px, $clr)
  &:hover
    color: $orange

//....................................Header........................................

@import "header"

//....................................Footer........................................

@import "footer"

//....................................Side NavBar........................................

@import "side-nav"

//....................................Main Slider........................................

@import "main-page/main_slider"

//....................................Cool........................................

@import "main-page/cool"

//....................................For Watch........................................

@import "main-page/for_watch"

//....................................Cool All........................................

@import "main-page/cool_all"

//....................................Hits........................................

@import "main-page/hits"

//....................................Catering........................................

@import "main-page/catering"

//....................................Command Restaurant........................................

@import "main-page/command_restaurant"

//....................................Clients........................................

@import "main-page/clients"

//....................................Chose........................................

@import "main-page/chose"

//....................................Contacts........................................

@import "contacts/contacts"
@import "contacts/feedback"

//....................................Delivery........................................

@import "delivery/delivery"

//....................................Menu........................................

@import "menu/menu"
@import "menu/card"