@import "sass/varialble"
@import "sass/function"

.account-body__account-main
  display: none

.account-main

.account-main__item
  &:first-child
    .account-main__heading
      margin-top: 0

.account-main__heading
  margin-top: 45px
  @include fontFSC($goth-b, 24px)
  line-height: 23px

.account-main__list

.account-main__list-item
  margin-top: 20px
  @include fontFSC($goth-r, 16px)
  &:first-child
    margin-top: 25px