@import "sass/varialble"
@import "sass/function"

.account-body__my-info

.my-info

.my-info_personal
  @include desktopSmall
    width: 80%
  @include tabletSmall
    width: 100%

.my-info_password
  @include desktopSmall
    width: 80%
  @include tabletSmall
    width: 100%

.my-info__heading

.my-info__sub-heading

.my-info__list
  margin-top: 27px

.my-info__item

.my-info__footer