@import "sass/varialble"
@import "sass/function"

.container__catering

.catering
  min-height: 816px
  @include desktopSmall
    min-height: 670px

.container__img

.catering__advantage
  margin-top: 69px

.advantage
  display: flex

.advantage__heading
  display: block
  @include fontFSC($goth-b, 36px)
  width: 360px
  margin-top: 5px
  line-height: 50px
  @include desktopSmall
    font-size: 24px
    line-height: 30px
    width: 285px
  @include tablet
    width: 223px

.advantage__list
  display: flex
  flex-direction: column
  height: 140px
  flex-wrap: wrap
  align-content: space-between

.advantage__item
  @include fontFSC($goth-r, 16px, $clr)
  list-style-type: disc
  width: 263px
  line-height: 24px
  margin-bottom: 10px
  margin-left: 20px
  @include desktopSmall
    font-size: 14px
    line-height: 20px
  @include tablet
    width: 230px

.catering__button
  text-align: right
  margin-top: 33px