@import "sass/varialble"
@import "sass/function"

.container__catering
  @include tabletSmall
    margin-top: 25px

.catering
  min-height: 816px
  @include desktopSmall
    min-height: 670px
  @include tablet
    min-height: 0

.container__img

.catering__advantage
  margin-top: 69px
  @include tabletSmall
    margin-top: 25px

.advantage
  display: flex
  justify-content: space-between
  @include tabletSmall
    flex-direction: column
    justify-content: flex-start

.advantage__heading
  display: block
  @include fontFSC($goth-b, 36px)
  flex-basis: 360px
  margin-top: 5px
  line-height: 50px
  @include desktopSmall
    font-size: 24px
    line-height: 30px
    width: 285px
  @include tablet
    width: 223px
  @include tabletSmall
    text-align: center
    width: 100%
    flex-basis: auto

.advantage__list
  display: flex
  flex-direction: column
  height: 140px
  flex-basis: 600px
  flex-wrap: wrap
  align-content: space-between
  @include desktopBig
    flex-basis: 800px
  @include tablet
    width: 550px
  @include tabletSmall
    margin-top: 25px
    flex-basis: auto
    width: 100%
  @include mobile
    height: auto
    width: 100%

.advantage__item
  @include fontFSC($goth-r, 16px, $clr)
  list-style-type: disc
  width: 263px
  line-height: 24px
  margin-bottom: 10px
  margin-left: 20px
  @include desktopSmall
    font-size: 14px
    line-height: 20px
  @include tablet
    width: 200px
  @include tabletSmall
    width: 90%
  @include mobile

.catering__button
  margin-top: 33px
  margin-left: auto