@import "sass/varialble"
@import "sass/function"

.clients
  height: 227px

.clients__wrap
  margin-top: 70px

.clients__slider
  width: 80%

.clients__arrow
  cursor: pointer

.clients__item
  cursor: pointer