@import "sass/varialble"
@import "sass/function"

.container__command

.command

.command__img
  margin-top: 45px

.command__description
  @include fontFSC($goth-r, 18px)
  line-height: 24px
  text-align: justify
  margin-top: 60px
  column-count: 2
  @include desktopSmall
    font-size: 14px
    line-height: 20px

.container__restaurant

.restaurant

.restaurant__img
  margin-top: 40px

.restaurant__complex

.complex__heading
  @include fontFSC($goth-b, 36px)
  line-height: 50px
  width: 360px
  margin-top: 69px
  @include desktopSmall
    font-size: 24px
    line-height: 30px

.complex__text
  @include fontFSC($goth-r, 18px)
  line-height: 25px
  text-align: justify
  margin-top: 60px
  column-count: 2
  width: 65%
  @include desktopSmall
    font-size: 14px
    line-height: 20px

