@import "sass/varialble"
@import "sass/function"

.container__command

.command

.command__img
  margin-top: 45px
  @include desktopSmall
    margin-top: 20px

.command__description
  @include fontFSC($goth-r, 18px)
  line-height: 24px
  text-align: justify
  margin-top: 60px
  column-count: 2
  @include desktopSmall
    font-size: 14px
    line-height: 20px
  @include tablet
    margin-top: 25px
  @include tabletSmall
    column-count: 1

.container__restaurant

.restaurant

.restaurant__img
  margin-top: 40px
  @include desktopSmall
    margin-top: 20px

.restaurant__complex
  @include tabletSmall
    flex-direction: column
    justify-content: flex-start

.complex__heading
  @include fontFSC($goth-b, 36px)
  line-height: 50px
  width: 360px
  margin-top: 69px
  @include desktopSmall
    font-size: 24px
    line-height: 30px
  @include tabletSmall
    width: 100%
    text-align: center
    margin-top: 25px

.complex__text
  @include fontFSC($goth-r, 18px)
  line-height: 25px
  text-align: justify
  margin-top: 60px
  column-count: 2
  width: 65%
  @include desktopSmall
    font-size: 14px
    line-height: 20px
  @include tabletSmall
    margin-top: 25px
    width: 100%
    column-count: 1

