@import "sass/varialble"
@import "sass/function"

.container__cool-all

.cool-all

.cool-all__action-block
  margin-top: 53px

.action-block
  width: 265px
  height: 255px
  display: flex
  flex-direction: column
  justify-content: space-between

.action-block__heading
  @include fontFSC($goth-m, 24px, $clr)
  text-align: center

.action-block__description
  @include fontFSC($goth-r, 16px, $clr)
  text-align: center
  margin-top: 27px
  flex-grow: 5
  line-height: 24px
  img
    margin-top: 9px

.action-block__button
  margin: 0 auto