@import "sass/varialble"
@import "sass/function"

.container__cool

.cool

.cool__statistics
  margin-top: 42px

.statistics

.statistics__item
  display: flex
  flex-direction: column
  &:last-child
    width: 135px

.statistics__value
  @include fontFSC($goth-m, 96px)
  @include grad()
  line-height: 100px
  height: 100px

.statistics__value_small
  @include fontFSC($goth-m, 66px)
  @include grad()

.statistics__description
  @include fontFSC($goth-m, 18px)
  width: 174px

.cool__snake
  background-image: url("../../img/cool/bg.png")
  background-repeat: no-repeat
  background-position: -108px -36px

.snake
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 1811px
  padding: 192px 14px 127px 238px
  box-sizing: border-box

.snake__img

.snake__article
  width: 456px
  &:nth-child(2n+1)
    align-self: flex-end

.snake__heading
  @include fontFSC($goth-r, 30px)
  width: 415px

.snake__description
  @include fontFSC($goth-m, 16px, $clr)
  margin-top: 30px
  line-height: 23px
  width: 355px