@import "sass/varialble"
@import "sass/function"

.container__cool-all

.cool-all

.cool-all__action-block
  margin-top: 45px

.action-block
  width: 265px
  height: 258px
  display: flex
  flex-direction: column
  justify-content: space-between

.action-block__heading
  @include fontFSC($goth, 24px, $clr)
  text-align: center

.action-block__description
  @include fontFSC($goth, 16px, $clr)
  text-align: center
  margin-top: 15px
  flex-grow: 5

.action-block__button
  margin: 0 auto