@import "sass/varialble"
@import "sass/function"

.container__hits

.hits
  min-height: 564px
  @include desktopSmall
    min-height: 510px

.hits__product-slider
  margin: 62px auto 0
  @include desktopSmall
    margin: 20px auto 0

.product-slider
  width: 100%
  @include desktopSmall
  @include tabletSmall
    flex-direction: column

.product-slider__card-trans
  @include tabletSmall
    margin: 59px auto 0
    &:first-child
      margin-top: 0

.card-trans
  width: 215px
  height: 381px
  display: flex
  flex-direction: column
  margin: 0 auto

.card-trans__heading
  @include fontFSC($goth-m, 18px, $clr)
  text-align: center
  text-transform: uppercase
  line-height: 17px

.card-trans__img
  width: 188px
  display: block
  margin: 33px auto 0

.card-trans__price-weight
  margin-top: 17px
  padding: 0 10px

.card-trans__weight
  @include fontFSC($goth-b, 14px, rgba(229, 229, 229, 0.75))

.card-trans__price-qnt
  margin-top: 26px
  padding: 0 10px

.card-trans__quantity
  width: 86px

.card-trans__plus
  cursor: pointer
  &:hover
    path
      fill: $orange

.card-trans__price
  @include fontFSC($goth-b, 18px, $clr)
  line-height: 22px

.card-trans__price

.card-trans__button
  margin: 28px auto 0

.product-slider__arrow
  cursor: pointer